# Test Limiti di Contesto
**Query User:** `Show all the workpackage with the status 'New'`


## MODEL: llama3.2:3b
--------------------------------------------------

### TEST WITH 5 ITEM
**Latence:** 2.06 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull llama3.2:3b`.

--------------------------------------------------

### TEST WITH 10 ITEM
**Latence:** 2.04 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull llama3.2:3b`.

--------------------------------------------------

### TEST WITH 15 ITEM
**Latence:** 2.02 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull llama3.2:3b`.

--------------------------------------------------

### TEST WITH 20 ITEM
**Latence:** 2.03 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull llama3.2:3b`.

--------------------------------------------------

## MODEL: phi4-mini:3.8b
--------------------------------------------------

### TEST WITH 5 ITEM
**Latence:** 2.05 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull phi4-mini:3.8b`.

--------------------------------------------------

### TEST WITH 10 ITEM
**Latence:** 2.02 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull phi4-mini:3.8b`.

--------------------------------------------------

### TEST WITH 15 ITEM
**Latence:** 2.03 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull phi4-mini:3.8b`.

--------------------------------------------------

### TEST WITH 20 ITEM
**Latence:** 2.04 secondi

ERROR: Ollama call failed with status code 404. Maybe your model is not found and you should pull the model with `ollama pull phi4-mini:3.8b`.

--------------------------------------------------
